* {
    margin: 0px;
    padding: 0px;
}

a {
    background-color: aquamarine;
    padding: 2px;
    margin: 2px;
    display: block;
}

div {
    width: 300px;
    height: 100px;
    background-color: lightcoral;
    margin: 2px;
}

.inline-box {
    /* inline level doesn't take width and height */
    display: inline;
    /* width: 500px; */
}

.inline-block-box {
    /* It takes space as inline level, height and width applied as block level */
    display: inline-block;
    width: 150px;
}

/* Positioning of elements:
    5 Types: 
    static ---> it is default positioning
    relative ---> it takes space and positioned according to its original postion
    absolute ---> it doesn't take space and positioned relative to it's positioned ancestor
    fixed ---> it is also doesn't takes space and fixed at some position
    sticky ---> it is similar to relative and fixed when we scrol
*/

.pos-relative {
    background-color: lightskyblue;
    position: relative;
    left: 20px;
    top: 30px;
}

.pos-absolute {
    background-color: darkolivegreen;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.pos-fixed {
    background-color: #25d366;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 35px;
    right: 50px;
    border-radius: 50%;
}

.pos-sticky {
    background-color: lightsalmon;
    width: 80%;
    margin: auto;
    position: sticky;
    top: 20px;
}

.long-content {
    height: 800px;
}