.div1 {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    position: relative;
    left: 40px;
    top: 100px;
}

.div2 {
    font-size: 12px;
    text-align: center;
    padding-top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: greenyellow;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 2;
}

.div3 {
    border: 1px solid red;
    width: 300px;
    height: 150px;
    position: relative;
}

.div3_1 {
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.notif {
    margin: 30px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    padding: 3px 5px;
    border-radius: 15px;
}

.not_div {
    background-color: red;
    color: white;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 50%;
    position: absolute;
    right: -3px;
    top: -5px;
}

nav {
    height: 20px;
    background-color: rgb(23, 12, 12);
    margin: 20px 0px;
    color: white;
    padding: 4px 6px;
    position: sticky;
    top: 5px;
    z-index: 1;
}