* {
    padding: 0px;
    margin: 0px;
}

#navbar {
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0px 15px;
}

#logo {
    font-size: 28px;
    line-height: 60px;
}

#nav-links {
    list-style-type: none;
}

#nav-links li {
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
    line-height: 60px;
    padding: 0px 10px;
}

#nav-links li:hover {
    cursor: pointer;
    background-color: rgb(70, 90, 35);
    color: white;
}

/* main section */

#main {
    margin: 20px;
}

#main h2 {
    margin-bottom: 15px;
    text-align: center;
}

#container {
    background-color: lightsalmon;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    min-height: calc(100vh - 180px);
}

.card {
    background-color: rgb(99, 48, 28);
    color: white;
    padding: 8px;
    border: 1px solid black;
}


/* Responsive design using media queries */

@media screen and (max-width: 780px) {
    #container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 660px) {
    #nav-links {
        background-color: rgb(19, 58, 19);
        color: white;
        position: fixed;
        top: 60px;
        left: 0px;
        height: calc(100vh - 60px);
        min-width: 20vw;
    }
    #nav-links li {
        display: block;
        margin-right: 0px;
    }
    #nav-links li:hover {
        background-color: lightgreen;
        color: black;
    }
    #main {
        margin-left: 20vw;
    }
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 520px) {
    #container {
        grid-template-columns: 1fr;
    }
}