/* psuedo element selectors */

p::first-line {
    color: red;
}

ul>li::marker {
    color: green;
}

::selection {
    color: red;
    background-color: yellow;
}

/* attribute selectors */

a[target=_blank] {
    background-color: green;
    color: white;
}

/* color property */
h2 {
    /* color: rgb(255, 0, 255); using RGB values */

    /* color: #ff0000; */

    color: hsl(180, 100%, 50%);
}