.grid-container {
    background-color: rgb(41, 103, 41);
    padding: 10px;
    display: grid;
    /* height: 400px; */
    /* to define no of columns and their width */
    /* grid-template-columns: 100px 100px 150px; */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 1fr 1.5fr 2fr;
    /* grid-template-columns: 100px 1fr auto 2fr; */
    grid-template-rows: 50px 80px;
    /* column-gap: 5px;
    row-gap: 2px; */
    gap: 5px;
    /* justify-content: space-between; */
    /* align-content: space-evenly; */
}

.item {
    background-color: burlywood;
    padding: 6px;
    text-align: center;
    border: 1px solid black;
    font-size: 24px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item4 {
    /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-column: 2 / 4;
}

.item3 {
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-row: 2 / 4;
}


.grid-layout {
    background-color: cornflowerblue;
    padding: 12px;
    margin-top: 30px;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    'header header header header header'
    'menu main main main sidebar'
    'menu footer footer footer sidebar';
    height: 300px;
    grid-template-rows: 1fr 4fr 1fr;
}

.grid-layout>div {
    background-color: coral;
    padding: 5px;
    font-size: 24px;
    text-align: center;
}

.div1 {
    grid-area: header;
}

.div2 {
    grid-area: menu;
}

.div3 {
    grid-area: main;
}

.div4 {
    grid-area: sidebar;
}

.div5 {
    grid-area: footer;
}