* {
    padding: 0px;
    margin: 0px;
}

.box {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 10px 0px;
}

#rel {
    background-color: lightgreen;
    position: relative;
    left: 80px;
    /* top: 10px; */
}

#rel-par {
    position: relative;
    left: 30px;
    z-index: 1;
}

#abs-box {
    background-color: red;
    position: absolute;
    right: -8px;
    top: -10px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
}

#blk-div {
    border: 1px solid black;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7HcusSJjGj5PErtYt4Qhqvoza7FSoZzs7XQ&s');
    background-size: cover;
}

#fix-div {
    background-color: rgb(66, 170, 66);
    color: white;
    position: fixed;
    bottom: 30px;
    right: 40px;
    padding: 5px 8px;
    border-radius: 40%;
    cursor: pointer;
}

#fix-div>a {
    text-decoration: none;
    color: white;
}

#stk-head {
    position: sticky;
    top: 20px;
    background-color: lightskyblue;
    z-index: 10;
}

ul {
    background-color: lightseagreen;
    padding: 8px 10px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    /* float: left; */
    margin-right: 50px;
}