
/* Types of selectors */
/* Simple selectors */
/* Tag name selector */
h3 {
    color: orangered;
}

/* class name selector */
.clr-vlt {
    color: violet;
}

/* Id name selector */
#link-1 {
    color: rgb(81, 81, 13);
}
