#div1 {
    background-color: orange;
    width: 200px;
}

#div2 {
    background-color: pink;
    width: 50vw;
}

#div2>div {
    background-color: brown;
    width: 50%;
}

#bg-div {
    width: 800px;
    height: 400px;
    border: 1px solid black;
    background-image: url("https://i.pinimg.com/564x/42/4f/e6/424fe6c72de5b695980187b37bb84a9c.jpg");
    background-repeat: no-repeat;
    /* background-position: top right; */
    /* 
    contain focus on entire image to fit inside div
    cover is used to fill the whole div (image can be resized)
    */
    /* background-size: contain; */
    background-attachment: scroll;
}