* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: coral;
}

/* default design in monitor point view */
.grid-container {
    padding: 10px;
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}

.grid-item {
    background-color: aquamarine;
    margin: 10px;
    line-height: 75px;
    text-align: center;
}

/* for responsive website use media queries */
@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        background-color: yellow;
    }
}

@media screen and (max-width: 550px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* default mobile point of view */
/* .grid-container {
    padding: 10px;
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr;
} */

/* @media screen and (min-width: 550px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
} */

/* @media screen and (min-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */


/* responsive navigation bar */
#nav {
    background-color: darkseagreen;
    margin: 40px 10px;
    padding: 8px;
    width: 100%;
    overflow: hidden;
}

#nav a {
    text-decoration: none;
    padding: 15px 10px;
    color: white;
    background-color: darkolivegreen;
    display: block;
    border: 1px solid red;
    float: left;
    width: 25%;
}

@media screen and (max-width: 600px) {
    #nav a {
        float: none;
        width: 100%;
    }
}

/* orientation based media query */
@media screen and (orientation: portrait) {
    body {
        background-color: hotpink;
    }
}