#div1 {
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 2s; */
    transition: all 3s ease-in;
}

#div1:hover {
    background-color: cyan;
    /* margin: 20px; */
    width: 400px;
}

#div2 {
    width: 100px;
    height: 100px;
    background-color: darkblue;
    color: white;
    margin: 50px;
    padding: 10px;
    box-sizing: border-box;
    /* transform: translate(0px, 50px); */
    /* transform: translateY(50px); */
    transform: rotate(-20deg);
    /* transform: scale(2, 3); */
    /* transform: skewy(20deg); */
}

/* animations */
#div3 {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    position: relative;
    /* animation-name: abc; */
    animation-name: multiAnim;
    animation-duration: 3s;
    animation-iteration-count: 3;
    /* animation-delay: 2s; */
    /* animation-direction: alternate; */
}

/* 2 step animation */
@keyframes abc {
    from {
        left: 0px;
    }
    to {
        left: 200px;
    }
}

/* multi step animation */
@keyframes multiAnim {
    0% {
      left: 0px;
      top: 0px;
    }
    25% {
        background-color: yellowgreen;
        transform: rotate(45deg);
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: yellow;
        transform: rotate(90deg);
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: red;
        transform: rotate(135deg);
        left: 0px;
        top: 200px;
    }
    100% {
        transform: rotate(180deg);
        left: 0px;
        top: 0px;
    }
}