#div1 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    /* animation-name: my_anim; */
    /* animation-duration: 4s; */
    /* animation-name: my_anim2; */
    animation-duration: 4s;
    /* animation-iteration-count: 3; */
    animation-direction: alternate-reverse;
    animation-timing-function: ease-out;
    animation-delay: 2s;
}

/* animation */
/* @keyframes my_anim {
    from {
        background-color: red;
        width: 100px;
    }
    to {
        background-color: green;
        width: 200px;
    }
} */

@keyframes my_anim2 {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        background-color: yellow;
        top: 0px;
        left: 200px;
    }
    50% {
        background-color: yellowgreen;
        top: 200px;
        left: 200px;
    }
    75% {
        background-color: green;
        top: 200px;
        left: 0px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}


.grid {
    background-color: chocolate;
    padding: 10px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: 100px 200px; */
    gap: 10px;
}

.item {
    background-color: cadetblue;
    padding: 10px;
    border: 1px solid red;
    text-align: center;
    font-size: 24px;
    line-height: 80px;
}

@media screen and (max-width: 900px) {
    .grid {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 650px) {
    .grid {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 400px) {
    .grid {
        grid-template-columns: auto;
    }
}


.menuitem {
    background: #CDF0F6;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
}

@media screen and (min-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr 4fr;
    }
}